:root{
    --bgHeader: #030722;
    --couleurPrimaire: #fff;
    --lienMenu: #666668;
    --couleurIcones: #cf960c;
    --BgIcones: #394155;
}

*{
    padding: 0;
    margin: 0;
    font-family: verdana;
}

/* Header */

header .header1{
    background: var(--bgHeader);
}
header .container1{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 8px;
}


header .donnees{
    display: flex;
    width: 80%;
}
header .icones{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

header .header1 .icones .rightIcones{
    padding-left: 61%;
}

header .icones i{
    color: var(--BgIcones);
    border: 1px solid white;
    font-size: 20px;
}

header .donnees .donnee{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
header .donnee i{
    margin-right: 10px;
    font-size: 12px;
    color: var(--couleurIcones);
}
header .donnee p{
    font-size: 12px;
    color: var(--couleurPrimaire);
    font-weight: 700;
}

/* Header2 */

.hearder2 .container2{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.hearder2 .container2 .logo,.nav{
    width: 50%;
}

.hearder2 .container2 .logo img{
    width: 20%;
}

.hearder2 .container2 .nav div{
    display: flex;
    justify-content: space-between;
}

.hearder2 .container2 .nav li{
    list-style-type: none;
}

.hearder2 .container2 .nav li a{
    font-weight: bold;
    color: #4e4e93;
    font-size: 15px;
    text-decoration: none;
}

.hearder2 .container2 .nav li .active{
    color: var(--couleurIcones);
}

.hearder2 .container2 .nav li select{
    border: none;
}

.hearder2 .container2 .nav li a:hover{
    color: var(--BgIcones);
}


/* main */

/* Section Bg-img */
main .bg img{
    width: 100%;
    height: 600px;
}

/* Section About */
.about{
    padding-top: 4%;
    padding-bottom: 4%;
}
.about .containerAbout{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.about .containerText,.aboutImg{
    width: 50%;
}

.about .containerText{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .text{
    width: 80%;
    margin: 0 auto;
}

.about .text h1{
    margin-bottom: 4%;
    color: #050412;
    font-size: 18px;
}

.about .text .descript{
    color: #ccccce;
    font-weight: lighter;
    margin-bottom: 4%;
    text-align: justify;
}

.about .progressions p{
    color: #8f8f91;
    font-size: 12px;
    font-weight: bold;
}

.about .progressions span{
    font-size: 12px;
    font-weight: bold;
    color: #8f8f91;
    position: absolute;
}

.about .progressions .progress{
    margin-bottom: 4%;
}

.about .progressions .progress .bars{
    border-radius: 2px;
    background: #9c9c9d43;
}

.about .progressions .progress .bar{
    border: 1px solid gold;
    background: var(--couleurIcones);
    padding: 2px;
}
.about .progress .bar1{
    width: 70%;
}

.about .progress .bar2{
    width: 50%;
}

.about .progress .bar3{
    width: 87%;
}

.about .progress .bar4{
    width: 95%;
}

.about .aboutImg img{
    width: 100%;
}

/* service */

.service{
    border: 1px solid red;
    background-image: url(../images/Image1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.service .nosService{
    margin-top: 5%;
    margin-bottom: 5%;
}

.service .containerService{
    width: 80%;
    margin: 0 auto;
    color: white;
}

.service .containerService h1{
    text-align: center;
    margin-bottom: 4%;
}

.service .containerService p{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.service .containerService .services{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.service .containerService .services .servs{
    width: 28%;
    border: 1px solid red;
    padding: 2%;
}

.service .containerService .services .servs h3{
    text-align: center;
    margin-bottom: 4%;
}




